.egg{
    width: 1000px;
    height: 1000px;
    border-radius: 80% 25% 55% 50% / 55% 25% 80% 50%;
    border: 5px solid #1c446b;
    background: plum;
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-33%, -50%) rotate(-45deg);
}
.display {
    width: 425px;
    height: 675px;
    position: absolute;
    top: 42%;
    left: 51%;
    margin-right: 50%;
    background-color: rgb(221, 221, 221);
    transform: translate(-35%, -49%) rotate(-45deg);
}
button {
    display: block;
    float: left;
    border-radius: 25px;
    min-width: 50px;
    min-height: 100px;
    transform: translate(430%, 400%);
    margin: 5%;
    cursor: pointer;
    border: 3px solid rgb(191, 123, 223);
    background-color: purple;
    outline: none;
}
button:active {
    background-color: rgb(191, 123, 223);
    outline: none;
    border: none;
}
#buttonRow {
    transform: rotate(45deg);
}
.label {
    transform: translate( 0%, 175%);
    font-size: 35px;
    color: whitesmoke;
    font-family: 'Nerko One', cursive;
}
#displayCat {  
    transform: translate(-.5%, 32.5%) rotate(90deg);
    max-height: 425px;
}
#displayDead {
    transform: translate(3.25%, 32.5%) rotate(90deg);
    max-height: 425px;
}
#column {
    float: left;
    column-count: 1;
    column-width: 250px;
    column-rule: 5px solid black;
    background: rgba(0, 0, 0, 0.418)
}
.vertLine {
    border-left: 5px solid rgb(0, 0, 0);
    height: 100%;
    display: block;
    float: right;
  }
  h1 {
      text-align: left;
      font-family: 'Source Code Pro', monospace;
      color: white;
      font-size: 40px;
  }
  h2 {
      text-align: right;
      font-family: 'Source Code Pro', monospace;
      color: white;
      font-size: 30px;
      font-weight: bold;
  }
  body {
    background-color: rgb(107, 158, 253);
  }