.egg{
    width: 1000px;
    height: 1000px;
    border-radius: 80% 25% 55% 50% / 55% 25% 80% 50%;
    border: 5px solid #1c446b;
    background: plum;
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: 50%;
    margin-left: -25%;
    transform: translate(-0%, -50%) rotate(-45deg);
}
.display {
    width: 425px;
    height: 675px;
    position: absolute;
    top: 42%;
    left: 51%;
    margin-right: 50%;
    background-color: rgb(221, 221, 221);
    transform: translate(-35%, -49%) rotate(-45deg);
}
button {
    display: block;
    float: left;
    border-radius: 25px;
    min-width: 50px;
    min-height: 100px;
    transform: translate(440%, 390%);
    margin: 5%;
    cursor: pointer;
    border: 3px solid rgb(191, 123, 223);
    background-color: purple;
    outline: none;
}
button:active {
    background-color: rgb(191, 123, 223);
    outline: none;
    border: none;
    border: 3px solid rgb(191, 123, 223);
}
#buttonRow {
    transform: rotate(45deg);
}
.label {
    transform: translate( 0%, 175%);
    font-size: 35px;
    color: whitesmoke;
    font-family: 'Nerko One', cursive;
}
#displayKitten {  
    transform: translate(-.5%, 30%) rotate(90deg);
    max-height: 425px;
}
#displayCat {  
    transform: translate(-.5%, 30%) rotate(90deg);
    max-height: 425px;
}
#displayDead {
    transform: translate(3.25%, 32.5%) rotate(90deg);
    max-height: 425px;
}
#displayDog {
    transform: translate(0%, 30%) rotate(90deg);
    max-height: 425px;
}
#displayOldDog {  
    transform: translate(-.5%, 30%) rotate(90deg);
    max-height: 425px;
}
#column {
    position: static;
    float: left;
    border-right: 5px solid black;
    column-count: 1;
    column-width: 250px;
    column-rule: 5px solid black;
    background: rgba(0, 0, 0, 0.418)
}
.progressbar {
    background-color: whitesmoke;
    border-radius: 13px;
    padding: 3px;
    min-width: 250px;
    max-width: 250px;
}
.progressbar>div {
    background-color: rgb(191, 123, 223);
    height: 20px;
    border-radius: 10px;
}
#ageBar>div {
    width: 0%;
}
#sleepBar>div {
    width: 0;
}
#boredBar>div {
    width: 0;
}
#hungerBar>div {
    width: 0;
}
#startButton {
    border: 3px solid rgb(191, 123, 223);
    transform: rotate(90deg) translate(-10%, -150%);
}
#easterEggButton {
    max-width: 25px;
    max-height: 25px;
    min-width: 0px;
    min-height: 0px;
    transform: translate(5000%, 20000%);
}
#startLabel {
    transform: rotate(-90deg) translate(-50%, 100%);
    font-size: 35px;
    color: whitesmoke;
    font-family: 'Nerko One', cursive;
}
input {
   min-width: 225px;
   min-height: 50px; 
   color:black;
   font-size: 20px;
   font-family: 'Nerko One', cursive;
}
#nameLabel {
    transform: translate(0%, -200%);
    font-size: 35px;
    color: whitesmoke;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}
  h1 {
      text-align: left;
      font-family: 'Source Code Pro', monospace;
      color: white;
      font-size: 40px;
  }
  h2 {
      text-align: right;
      font-family: 'Source Code Pro', monospace;
      color: white;
      font-size: 30px;
      font-weight: bold;
  }
  h3 {
    min-width: 50%;
    display: block;
    font-size: 50px;
    color: #800020;
    margin-right: 50%;
    font-family: 'Source Code Pro', monospace;
  }
  body {
    background-color: rgb(107, 158, 253);
    overflow-x: hidden;
  }